/* h1 {
    text-align: center;
    text-transform: capitalize;
}
 #outer {
    font-size: 25px;
}
#inner {
    font-size: 10px;
}
#first {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px double brown;
    border-radius: 5%;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

#second {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px double brown;
    border-radius: 5%;
    text-align: center;
}

#third {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 1px double brown;
    border-radius: 5%;
    text-align: center;
} */

div {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}