h1 {
    color:rgb(191,34,115);
}

p {
    color:rgb(23, 2, 16);
}

button {
    color:rgb(250, 6, 169);
    background-color:rgb(0, 0, 16);
}

body {
    background-color:rgb(175, 116, 169);
}

pre {
    color: #a8a800
}